@font-face {
    font-family: 'themify';
    src: url('../fonts/themify.eot?-fvbane');
    src: url('../fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'), url('../fonts/themify.woff?-fvbane') format('woff'), url('../fonts/themify.ttf?-fvbane') format('truetype'), url('../fonts/themify.svg?-fvbane#themify') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* From: https://themify.me/themify-icons */

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #080;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #060;
}

.actions:before {
    font-family: themify;
    content: "\e60F\0020";
}

.btn-edit:hover, .edit:hover {
    border-color: #7ab2d1;
}

.btn-add:before, .add:before {
    font-family: themify;
    content: "\e61a\0020"; /* plus and space */
}

.btn-edit:before, .edit:before {
    font-family: themify;
    content: "\e61c\0020";
}

.btn-view:before, .view:before {
    font-family: themify;
    content: "\e63d\0020";
}

.btn-delete:before, .delete:before {
    font-family: themify;
    content: "\e605\0020";
}

.btn-copy:before, .copy:before { /* change to copy*/
    font-family: themify;
    content: "\e6a3\0020";
}

.run:before { /* change to copy*/
    font-family: themify;
    content: "\e6ad\0020";
}


.lesson:before {
    font-family: themify;
    content: "\e617\0020";
}

.project:before {
    font-family: themify;
    content: "\e618\0020";
}


.module * {
    border: 0;
    padding: 0;
    margin: 0;
}

.module {
    border-radius: 2em;
    border: solid 1px #FFF;
    padding: 1em;
    margin: .5em;
    position: relative;
    background-color: #FFF;
    box-shadow: #AAA 5px 5px 10px;
}

.expired {
    background-color: #AAA;
    box-shadow: #AAA 5px 5px 10px;
}

.module h1 {
    font-size: 1.2em;
    font-weight: bold;
}

.module .details, .module .actions {
    position: absolute;
    right: 2em;
    width: 25%;
}

.module .details {
    background-color: #FFF;
    bottom: 0;
}

.module .actions {
    top: 0;
    width: 2em;
    overflow: hidden;
    height: 2em;
    transition: width ease-in-out 1s, height ease-in-out 1s;
    text-align: center;
}

    .module .actions a {
        display: block;
    }

        .module .actions a:hover {
            text-decoration: none;
            background-color: #AAA;
            color: #FFF;
        }

    .module .actions:hover {
        width: 6em;
        height: 7em;
        border: solid 1px #AAA;
        z-index: 999;
        background-color: #FFF;
    }

.lessons, .projects {
    margin: 1em .3em 1.2em .2em;
}

.lesson, .project {
    display: inline-block;
}

    .lesson a, .project a {
        color: #FFF;
        height: 100%;
    }

    .lesson li, .project li {
    }

.lesson, .project {
    border: solid 1px #333;
    background-color: #888;
    border: 1px solid #000;
    padding: .5em;
    color: #FFF;
    border-radius: .5em;
    transition: background-color ease .5s;
}

    .lesson a:hover, .project a:hover {
        text-decoration: none;
    }

    .lesson:hover {
        background-color: #800;
    }

.itemCount {
    background-color: #FEE;
    color: #AAA;
    border: 2px solid #300;
    border-radius: .8em;
    padding: .2em .4em;
}


.project:hover {
    background-color: #008;
}

.lesson {
    border-color: #300;
    background-color: #D00;
}

.project {
    border-color: #003;
    background-color: #00D;
}

#exercisePanel {
    width: 20%;
    position: absolute;
    height: 95%;
    overflow: auto;
    top: 3.5em;
    left: 0;
    background-color: #FFF;
    box-shadow: inset #333 0 0 10px;
}

#codeIde {
    margin-left: 21%;
    height: 100%;
}

    #codeIde.fullIDE {
        margin-left: 0;
    }

#codeWindow {
    width: 100%;
    height: 50%;
}

.run {
    background-color: #080;
    color: #FFF;
}

    .run:hover {
        background-color: #00A;
        color: #FFF;
    }

#exerciseList {
    list-style: none;
    margin: 0;
    padding: 1em;
}

    #exerciseList .exercise {
        width: 2em;
        height: 2em;
        background-color: #AAA;
        margin: .2em;
        padding: .25em;
        border-radius: .3em;
        text-align: center;
        vertical-align: central;
        font-size: 2em;
        display: inline-block;
        border: 2px solid #888;
        position: relative;
    }

        #exerciseList .exercise:hover {
            width: 2.2em;
            height: 2.2em;
            font-size: 2.2em;
            margin: 0;
            border: 2px solid #333;
            cursor: pointer;
        }

.lessonCode {
    color: #DDD;
    font-size: .5em;
    position: absolute;
    bottom: 0;
    right: .5em;
}

.hidable {
    border: 1px solid #AAA;
    display: none;
}

/*Start code IDE*/
html, body, #app, .container-fluid, #codeIde, #ideCodeWindow, #ideCodeWindow textarea {
    height: 100%;
}

    body.activeIDE .navbar {
        min-height: 0;
        height: 6px;
        overflow: hidden;
        transition: min-height ease 2s;
    }

        body.activeIDE .navbar:hover {
            min-height: 50px;
        }

      
.CodeMirror {
    height: 100%;
}

#codeIde {
    height: 95%;
}
    /*set sizes*/
    #codeIde h3 {
        height: 2%;
    }

    #codeIde #idePrompt {
        height: 5%;
    }

    #codeIde.projectIDE #idePrompt {
        height: 20%;
    }

    #codeIde #ideControls {
        height: 40px;
    }

    #codeIde #ideMainEditor {
        height: 80%;
    }

#idePrompt {
    overflow: auto;
}

#ideControls {
}

#idePreCode {
}

#ideMainEditor {
}

#ideCodeWindow {
    width: 50%;
    float: left;
}

#ideOutputWindows {
    width: 50%;
    float: right;
    height: 100%;
}

    #ideOutputWindows > div {
        position: relative;
    }

    #ideOutputWindows h3 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 1.2em;
    }

#ideGraphics {
    border: 1px solid #00F;
}

#ideTextOutput {
    height: 100%;
}

    #ideTextOutput #output {
        height: 100%;
        overflow: auto;
    }

#ideTestCode {
}

#ideMessages * {
    margin: 0;
    padding: 0;
}

#ideMessages {
    position: relative;
    height: 0px;
}

    #ideMessages > div {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }

#ideTestOutput, #ideErrors {
    height: 80px;
    background-color: #AAA;
    /*animation: hideWindow 2s ease-out 2s forwards;*/
    height: 0px;
    transition: height 2s ease-in-out;
    animation-iteration-count: 1;
    overflow: hidden;
    border-radius: .3em;
    position: relative;
    margin-left: 10%;
    width: 90%;
}

@keyframes hideWindow {
    0% {
        height: 100px;
        border-width: 1px;
    }

    95% {
        height: 5px;
        border-width: 1px;
    }

    100% {
        height: 0px;
        border-width: 0px;
    }
}

#ideTestOutput {
    border: 0px solid #080;
    background-color: #EFE;
}

#ideErrors {
    border: 0px solid #800;
    background-color: #FEE;
}

#ideMessages .messageControls {
    position: absolute;
    top: .3em;
    right: .6em;
}

    #ideMessages .messageControls a {
        color: #333;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid transparent;
        background-color: rgba(70, 70, 70, 0.33);
        padding: .3em .5em;
        border-radius: .3em;
    }

        #ideMessages .messageControls a:hover {
            border-color: #333;
        }

#ideMessages > div .showMessage {
    height: 100px;
    overflow: auto;
    padding: .3em;
    box-shadow: #333 2px 2px 5px 2px;
}

    #ideMessages > div .showMessage > div {
    }

#ideMessages > div .collapseMessage {
    height: 2em;
    width: 10em;
    overflow: hidden;
    position: relative;
    top: -2em;
    right: 0;
    float: right;
    font-size: .8em;
}

#ideMessages .collapseMessage .messageControls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

/*End code IDE*/
