/* -- Icons --*/
@font-face {
    font-family: 'themify';
    src: url('../fonts/themify.eot?-fvbane');
    src: url('../fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'), url('../fonts/themify.woff?-fvbane') format('woff'), url('../fonts/themify.ttf?-fvbane') format('truetype'), url('../fonts/themify.svg?-fvbane#themify') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* From: https://themify.me/themify-icons */

#debug {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 100px;
    left: 25px;
    border: 2px solid #333;
    background-color: #FFF;
    padding: .3em;
}

body {
    padding-top: 70px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #080;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #060;
}

.actions:before {
    font-family: themify;
    content: "\e60F";
    margin-right: .5em;
}

.btn-edit:hover, .edit:hover {
    border-color: #7ab2d1;
}

.btn-add:before, .add:before {
    font-family: themify;
    content: "\e61a";
    margin-right: .5em; /* plus and space */
}

.btn-edit:before, .edit:before {
    font-family: themify;
    content: "\e61c"; /*pencil*/
    margin-right: .5em;
}

[contenteditable="true"]:after {
    font-family: themify;
    content: "\e61c"; /*pencil*/
    font-size: .5em;
    text-align: right;
    bottom: .8em;
    position: relative;
}

.dates [contenteditable="true"]:after {
    font-family: themify;
    content: "\e6b6"; /*calendar*/
    margin-left: .25em;
}

.dragHandle:before {
    font-family: themify;
    content: "\e657"; /*vertical arrows*/
    margin-left: .25em;
}

.btn-view:before, .view:before {
    font-family: themify;
    content: "\e63d";
    margin-right: .5em;
}

.btn-delete:before, .delete:before {
    font-family: themify;
    content: "\e605";
    margin-right: .5em;
}

.btn-copy:before, .copy:before {
    font-family: themify;
    content: "\e6a3";
    margin-right: .5em;
}

.insert:before {
    font-family: themify;
    content: "\e632";
    margin-right: .5em;
}

.collapseAll:before {
    font-family: themify;
    content: "\e6F6";
    margin-right: .5em;
}

.expandAll:before {
    font-family: themify;
    content: "\e712";
    display: inline-block;
    transform: rotate(90deg);
    margin-right: .5em;
}


.flow:before {
    font-family: themify;
    content: "\e713"; /*accordian*/
    margin-right: .5em;
}

.run:before {
    font-family: themify;
    content: "\e6ad"; /* play */
    margin-right: .5em;
}

.success:before {
    font-family: themify;
    content: "\e71f"; /* smiley */
    margin-right: .5em;
}

.previous:before {
    font-family: themify;
    /*content: "\e662"; -- double arrow*/
    /*content: "\e71c";  -- finger*/
    content: "\e629"; /*-- arrow*/
    margin-right: .5em;
}

.next:before {
    font-family: themify;
    /*content: "\e661"; -- double arrow*/
    /*content: "\e71b";  -- finger*/
    content: "\e628"; /* -- arrow*/
    margin-right: .5em;
}

.save:before {
    font-family: themify;
    content: "\e746"; /*disk*/
    margin-right: .5em;
}

.load:before {
    font-family: themify;
    content: "\e632";
    margin-right: .5em;
}

.minimizer:before {
    font-family: themify;
    content: "\e622";
    margin-right: .5em;
}

.closer:before {
    font-family: themify;
    content: "\e646";
    margin-right: .5em;
}

.success:before {
    font-family: themify;
    content: "\e670"; /* -- thumbs up*/
    content: "\e71f"; /* -- smiley face*/
    margin-right: .5em;
    font-size: 1.5em;
    float: left;
}

.error:before {
    font-family: themify;
    content: "\e671"; /* -- thumbs down*/
    content: "\e720"; /* -- frowny face*/
    content: "\e6c5"; /* -- alert*/
    margin-right: .5em;
    font-size: 1.5em;
    float: left;
}


.reset:before {
    font-family: themify;
    content: "\e619";
    margin-right: .5em;
}

.course:before {
    font-family: themify;
    content: "\e60a";
    margin-right: .5em;
}

.concept:before {
    font-family: themify;
    content: "\e607";
    margin-right: .5em;
}

.module:before {
    font-family: themify;
    content: "\e75a";
    margin-right: .5em;
}
.module.add:before {
    content: "\e61a\e618";
    letter-spacing: -.2em;
}

.project:before, .project .completion span:before {
    font-family: themify;
    content: "\e618";
    margin-right: .5em;
}
.project.add:before {
    content: "\e61a\e618";
    letter-spacing: -.2em;
}

.open .projectStatus:before {
    font-family: themify;
    content: "\e64f";
    margin-right: .5em;
}

.inProgress .projectStatus:before {
    font-family: themify;
    content: "\e626";
    margin-right: .5em;
}

.closed .projectStatus:before {
    font-family: themify;
    content: "\e687"; /*package*/
    margin-right: .5em;
}


.lesson:before, .lesson .completion span:before {
    font-family: themify;
    content: "\e617";
    margin-right: .5em;
}

.lesson.add:before {
    content: "\e61a\e617";
    letter-spacing: -.2em;
}

    .exercise:before {
    font-family: themify;
    content: "\e61d";
    margin-right: .5em;
}

.sandbox:before {
    font-family: themify;
    content: "\e606"; /* thought */
    content: "\e6b9"; /* ball */
    margin-right: .5em;
}

.member:before {
    font-family: themify;
    content: "\e602"; /* person */
    margin-right: .5em;
}

.teams:before {
    font-family: themify;
    content: "\e602\e602"; /* person */
    letter-spacing: -.35em;
    font-stretch:ultra-expanded;
    margin-right: .5em;
}

    .login:before {
    font-family: themify;
    content: "\e62d"; /* link */
    margin-right: .5em;
}

.logout:before {
    font-family: themify;
    content: "\e604"; /* unlink */
    margin-right: .5em;
}

#projectDifficulty li:before {
    font-family: themify;
    content: "\e606"; /* thought */
    content: "\e69a"; /* hammer */
}

#projectEnjoyment li:before {
    font-family: themify;
    content: "\e71f"; /* smiley */
}


#ideLogs h2:before {
    font-family: themify;
    content: "\e663";
    margin-right: .5em;
}

.new:after {
    font-family: themify;
    content: "\e60a"; /*star*/
    margin-right: .5em;
    position: absolute;
    top: -.35em;
    left: 0;
    color: rgba(120, 120, 120, 0.5);
}
/* -- End Icons --*/

/* Rating systems */
#projectRatings h4, #projectRatings ol, #projectRatings li {
    display: inline-block;
}

#projectRatings ol {
    list-style: none;
    padding: 0;
    direction: rtl;
}

#projectRatings li {
    font-size: 15px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    padding: 0 0 0 3px;
    background-color: #DDD;
    border: 1px solid #AAA;
    direction: ltr;
}

    #projectRatings li:before {
        color: #888;
        margin-right: 1em;
    }

#projectRatings .selected {
    background-color: #FF9;
}

#projectRatings li:hover,
#projectRatings li:hover ~ li {
    background-color: #FF0;
    cursor: pointer;
}

    #projectRatings li:hover:before,
    #projectRatings li:hover ~ li:before {
        color: #000;
    }


/* End - Rating systems */

/*flow - start*/
#courseFlow #courseDetails {
    border: 1px solid #333;
    background-color: #DDD;
    border-bottom-width: 4px;
    height: 120px;
    margin: -20px;
    top: 50px;
    text-align: center;
    position: sticky;
    z-index: 910;
}

    #courseFlow #courseDetails h1 {
        margin: .25em;
    }

    #courseFlow #courseDetails .dates {
        text-align: right;
    }

#courseFlow > article:nth-child(2) {
    margin-top: 40px;
}

#courseFlow .completion {
    top: 0;
    left: -.2em;
}

#courseFlow .concept {
    position: relative;
}

#courseFlow li.lesson:before, #courseFlow li.project:before {
    content: "";
    margin-right: 0;
}

#courseFlow .module:before, #courseFlow .concept:before {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5em;
    opacity: .15;
}

#courseFlow .module.add:before, #courseFlow .concept.add:before {
    position: static;
    font-size: 1em;
    opacity: 1;
}

#courseFlow .concept h3 {
    position: sticky;
    top: 100px;
    z-index: 911;
    width: 70%;
}

#courseFlow .module h1 {
    position: sticky;
    top: 125px;
    z-index: 911;
    width: 70%;
}

#courseFlow .module .dragHandle {
    position: absolute;
    top: 0;
    left: -2em;
    font-size: 2em;
    display: inline-block;
    width: 1em;
    height: 1.5em;
    overflow: hidden;
    cursor: ns-resize;
}

#courseFlow .creation {
    text-align: center;
}
    #courseFlow .creation .concept:hover,
    #courseFlow .creation .module:hover,
    #courseFlow .creation .project:hover,
    #courseFlow .creation .lesson:hover {
        box-shadow: 0 0 7px #333;
        border-color: #FFF;
    }

   /*#courseFlow .module * {
    padding: 0;
    margin: 0;
}*/
.courseList .course:before {
    float: left;
}

#courseFlow .module, .courseList .course {
    border-radius: 2em;
    border: solid 1px #080;
    padding: 1em;
    margin: .5em .5em 2em .5em;
    position: relative;
    background-color: #FFF;
    box-shadow: #AAA 5px 5px 10px;
    /*animation: hideModule 1s ease 0s forwards;*/
}

    #courseFlow .module.add{
        border-radius: .3em;
        padding: .3em;
        margin: .5em;
    }
    #courseFlow .module.ui-sortable-placeholder {
        background-color: #DDD;
        height: 8em;
    }


#courseFlow .module .dates, .course .actions .dates {
    margin-bottom: 1em;
}

    /*#courseFlow .module:hover {
        animation: showModule 1s ease 0s forwards;
        cursor: pointer;
    }*/


    #courseFlow .module.ui-sortable-helper:hover {
        /*animation: hideModule 1s ease 0s forwards;*/
        cursor: move;
    }

    #courseFlow .module .contentControl, #codeIde .contentControl {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -2.5em;
        width: 5em;
        padding: .1em 2em;
        height: 1.5em;
        border: 1px solid #333;
        background-color: #DDD;
        overflow: hidden;
        border-radius: 1em 1em 0 0;
        z-index: 900;
    }

        #courseFlow .module .contentControl:disabled, #codeIde .contentControl:disabled {
            border: 1px solid #AAA;
            background-color: #EEE;
            color: #AAA;
            font-size: .7em;
        }

.expander:before {
    font-family: themify;
    content: "\e663";
    margin-right: 6em;
}

#courseFlow .module .collapser, #codeIde .collapser {
    bottom: -1.5em;
    border-radius: 0 0 1em 1em;
}

.collapser:before {
    font-family: themify;
    content: "\e660";
    margin-right: 6em;
}

@keyframes showModule {
    0% {
        height: 5em;
        cursor: wait;
    }

    99.99% {
        height: 12em;
    }

    100% {
        height: auto;
        /*height: 200px;*/
    }
}

@keyframes hideModule {
    0% {
        height: 12em;
        cursor: wait;
    }

    100% {
        height: 5em;
        /*height: 200px;*/
    }
}

.courseList {
    list-style: none;
    padding: 0;
}

    .courseList li {
        width: 45%;
        float: left;
        height: 6em;
    }

@media screen and (max-width: 700px) {
    .courseList li {
        width: 100%;
    }
}

.course > a {
    display: block;
    width: 100%;
    height: 100%;
    margin: -1em;
    padding: 1em;
}

#courseFlow .module h1, .course.h4 {
    font-size: 1.2em;
    font-weight: bold;
}

#courseFlow .module .details, #courseFlow #courseDetails .actions, .module .actions, .course .actions {
    position: absolute;
    right: 2em;
    width: 16em;
}

#courseFlow .module .details {
    background-color: #FFF;
    bottom: 0;
}

#courseFlow .module .actions, #courseFlow #courseDetails .actions, .course .actions {
    top: 0;
    width: 2em;
    overflow: hidden;
    height: 1.5em;
    transition: width ease-in-out 1s, height ease-in-out 1s;
    text-align: center;
}

    #courseFlow .module .actions a, #courseFlow #courseDetails .actions a, .course .actions a {
        display: block;
        line-height: 1.5em;
    }

        #courseFlow .module .actions a:hover, #courseFlow #courseDetails .actions a:hover, .course .actions a:hover {
            text-decoration: none;
            background-color: #AAA;
            color: #FFF;
        }

    #courseFlow .module .actions:hover, #courseFlow #courseDetails .actions:hover, .course .actions:hover {
        width: 10em;
        height: auto;
        border: solid 1px #AAA;
        z-index: 950;
        background-color: #FFF;
    }

#courseFlow .expired {
    background-color: #DED;
}

#courseFlow .components {
    display: none;
}

#courseFlow .current .components {
    display: block;
}


#courseFlow .components li {
    list-style: none;
    font-size: 2em;
    height: 2em;
    border-radius: 0 1em 1em 0;
    margin: .1em .5em .3em 1em;
    line-height: .5;
}
    /*#courseFlow .components a:before {
    font-size: .5em;
    position:relative;
    left:-2em;
    margin-right: -2em;
}*/
    #courseFlow .components li a {
        display: block;
        height: 100%;
    }

    #courseFlow .components li span.name {
        position: relative;
        top: 20%;
        font-size: calc(.5em + 1vw);
        margin-top: .5em;
    }

/*#courseFlow .components li .name:before {
            content: ">";
            position: absolute;
            top: 0;
            right: -20%;
            font-size: 2em;
        }*/


/*#courseFlow .lesson .name, #courseFlow .project .name {
    display: inline-block;
    position: relative;
    top: -50px;
}
    */
#courseFlow .completion > span {
    color: #333;
    font-size: .25em;
    width: 4em;
    line-height: 4em;
}

#courseFlow .lesson:hover .completion > span {
    color: #03F;
    font-size: .35em;
    font-weight: bold;
    width: 3em;
    line-height: 3em;
}

#courseFlow .lesson:hover .completion:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}

#courseFlow .lesson:hover .completion > span:before {
    content: "";
}

#courseFlow li.lesson .completion, #courseFlow li.project .completion {
    left: -.5em;
    margin-right: -.25em;
}

#courseFlow .lesson a, #courseFlow .project a {
    color: #000;
}

#courseFlow .project .projectStatus:before,
#courseFlow .lesson .completion span:before,
#courseFlow .module .completion span:before {
    position: absolute;
    font-size: 3em;
    margin-left: -.1em;
    color: #333;
    opacity: .10;
}

#courseFlow .project .projectStatus:before {
    font-size: 1.4em;
    margin-left: .2em;
    margin-top: .5em;
}

#courseFlow .project .projectStatus {
    border: 3px solid #333;
    background-color: #DDD;
    border-radius: .5em;
    width: 2.2em;
    height: 2.2em;
    margin: -.1em .5em 0 -1em;
    float: left;
}

#courseFlow .project .teams {
    font-size: .5em;
    position: absolute;
    left: 3em;
    bottom: .5em;
    font-weight: bold;
}

    #courseFlow .project .teams.disabled, #courseFlow .project .teams.disabled:before {
        color: #888;
        font-weight:normal;
    }

    dl.dates {
    font-size: .5em;
    position: absolute;
    bottom: -.5em;
    height: 1em;
    right: 2em;
    pointer-events: none;
}

.course dl.dates {
    font-size: .8em;
}

dl.dates dt, dl.dates dd {
    float: left;
    padding-right: .5em;
}

#courseFlow .project.open {
    background-color: #FFD;
}

    #courseFlow .project.open .projectStatus {
        background-color: #FFD;
    }

#courseFlow .project.inProgress {
    background-color: #DDF;
}

    #courseFlow .project.inProgress .projectStatus {
        background-color: #DDF;
    }

#courseFlow .project.closed {
    background-color: #DDD;
}

    #courseFlow .project.closed .projectStatus {
        background-color: #DFD;
    }

#courseFlow .project .projectStatus span {
    font-size: .4em;
    vertical-align: text-top;
    text-align: center;
    display: block;
    line-height: 5em;
    height: 100%;
    width: 100%;
    transition: font-size 400ms ease;
}
/*Text is too long must adjust for this case*/
#courseFlow .project.inProgress .projectStatus span {
    line-height: 1em;
    margin-top: 1.5em;
}

#courseFlow .project:hover .projectStatus span {
    font-size: .55em;
    line-height: 3.5em;
    color: #03F;
    overflow: hidden;
    font-weight: bold;
}
/*Text is too long must adjust for these cases*/
#courseFlow .project.inProgress:hover .projectStatus span,
#courseFlow .project.pending:hover .projectStatus span {
    font-size: .55em;
    line-height: 1em;
    margin-top: 1em;
}

/* Completed Component*/
#courseFlow .completion {
    top: -.05em;
    margin: 0;
}

    #courseFlow .completion.p100 .bar {
    }

    #courseFlow .completion.p100 .bar, #courseFlow .completion.p100 .fill {
        border-color: #080;
    }

    #courseFlow .completion.p100 span {
        color: #080;
        font-weight: bold;
    }


#courseFlow .lesson, #courseFlow .project {
    border: solid 1px #888;
    background-color: #AAA;
    border-left: 0;
    color: #333;
    border-radius: .5em;
    position: relative;
    transition: background-color ease .5s;
}

    #courseFlow .lesson a:hover, #courseFlow .project a:hover {
        text-decoration: none;
    }


#courseFlow .itemCount {
    background-color: #FEE;
    color: #AAA;
    border: 2px solid #300;
    border-radius: .8em;
    padding: .2em .4em;
}




#courseFlow .lesson {
    border-color: #333;
    background-color: #EEE;
}

    #courseFlow .lesson.completed {
        background-color: #ACA;
    }

    #courseFlow .lesson:hover, #courseFlow .lesson.add {
        background-color: #6A6;
    }

#courseFlow .project.closed {
    border-color: #003;
    background-color: #DDE;
}

#courseFlow .project:hover, #courseFlow .project.add {
    background-color: #AAC;
}

/*flow - end*/

#exercisePanel {
    width: 23.5em;
    height: 90%;
    min-width: 100px;
    position: relative;
    left: -15px;
    overflow: auto;
    margin: 0;
    float: left;
    background-color: #FFF;
    box-shadow: inset #333 0 0 10px;
}

    #exercisePanel .exercise:before {
        content: "";
        margin-right: 0;
    }

#codeIde {
    margin-left: 23.5em;
    height: 100%;
}

@media (max-width: 1200px) {

    #exercisePanel {
        width: 18.5em;
    }

    #codeIde {
        margin-left: 18.5em;
    }
}

@media (max-width: 900px) {

    #exercisePanel {
        width: 13.5em;
    }
    #codeIde {
        margin-left: 13.5em;
    }
}

@media (max-width: 600px) {

    #exercisePanel {
        width: 8em;
    }

    #codeIde {
        margin-left: 8em;
    }
}

    #codeIde.fullIDE {
        margin-left: 0;
    }


#exerciseList {
    list-style: none;
    margin: 0;
    padding: 1em;
}

    #exerciseList .exercise.mini {
        width: 2em;
        height: 2em;
        background-color: #FFA;
        margin: .2em;
        padding: .25em;
        border-radius: .3em;
        text-align: center;
        vertical-align: central;
        font-size: 2em;
        display: inline-block;
        border: 2px solid #AAA;
        position: relative;
        overflow: hidden;
    }

        #exerciseList .exercise.mini.inactive,
        #exerciseList .exercise.ui-sortable-placeholder{
            background-color: #DDD;
            cursor: not-allowed;
            color: #333;
        }

            #exerciseList .exercise.mini.inactive span, #exerciseList .exercise.mini.current span {
                position: absolute;
                top: -.1em;
                left: .1em;
                font-size: .6em;
            }

            #exerciseList .exercise.mini.inactive:before {
                font-family: themify;
                content: "\e62b"; /*lock*/
            }

        #exerciseList .exercise.mini.new {
            background-color: #FC3;
            color: #000;
            border-color: #860;
        }

            #exerciseList .exercise.mini.new a {
            }

    #exerciseList .exercise.completed, #exerciseList .exercise.current.completed {
        background-color: #BFB;
    }

    #exerciseList .exercise.mini {
        transition-property: margin,height, width;
        transition-duration: 400ms;
        transition-timing-function: ease;
    }

        #exerciseList .exercise.mini a {
            color: #550;
            font-weight: bold;
            display: block;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            transition-property: font-size, width, line-height;
            transition-duration: 400ms;
            transition-timing-function: ease;
        }

            #exerciseList .exercise.mini a:hover {
                text-decoration: none;
            }

    #exerciseList .exercise.completed a {
        color: #080;
    }

    #exerciseList .exercise.current {
        width: 2.2em;
        height: 2.2em;
        font-size: 2.2em;
        margin: 0;
        border: 2px solid #333;
        cursor: not-allowed;
    }

        #exerciseList .exercise.current:before {
            font-family: themify;
            content: "\e61d"; /* edit pencil */
        }
    #exerciseList .exercise.ui-sortable-placeholder:before {
        font-family: themify;
        content: "\e6f4";
        margin-right: .5em;
    }


        #exerciseList .exercise.current a {
            /*color: #000;*/
        }

    #exerciseList .exercise.active:hover {
        width: 2.2em;
        height: 2.2em;
        font-size: 2.2em;
        margin: 0;
        border: 2px solid #333;
        cursor: not-allowed;
    }

    #exerciseList .exercise.current:hover {
        cursor: grabbing;
    }

    #exerciseList .exercise:hover a {
        font-size: 1.5em;
        width: 1em;
        line-height: 1em;
    }
    #exerciseList .nodeDetails {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: .2em;
        font-size: .4em;
    }
    #exerciseList .nodeDetails:before {
        font-family: themify;
        content: "\e61b";
        margin-left: .2em;
    }

/*Tooltips
    based on: https://stackoverflow.com/questions/7117073/how-to-add-a-tooltip-to-a-div
*/
[tooltip]:after {
    /* needed - do not touch */
    content: attr(tooltip);
    position: fixed;
    opacity: 0;
    /* customizable */
    transition: all 0.15s ease;
    font-size: 12px;
    z-index: 980;
    padding: 10px;
    color: #333;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #333;
    pointer-events: none;
    display: inline-block;
    width: 10em;
}

[tooltip]:hover:after {
    /* needed - do not touch */
    opacity: 1;
    /* customizable */
    background: #EEE;
    margin-top: -50px;
    margin-left: 20px;
}

#codeIde button[tooltip]:hover:after {
    /* customizable */
    margin-top: 3em;
    margin-left: -10em;
    margin-top: 1em;
    display: inline;
    width: auto;
}
label[tooltip]:hover:after {
    font-weight: normal;
}
    #codeWindow {
    width: 100%;
    height: 50%;
}




.lessonCode {
    color: #DDD;
    font-size: .5em;
    position: absolute;
    bottom: 0;
    right: .5em;
}

.hidable {
    border: 1px solid #AAA;
    display: none;
}

/*Start code IDE*/
html, body, #app, .container-fluid, #codeIde, #ideCodeWindow, #ideCodeWindow textarea {
    height: 100%;
}

    body.activeIDE .navbar {
        min-height: 0;
        height: 6px;
        overflow: hidden;
        transition: min-height ease 2s;
    }

        body.activeIDE .navbar:hover {
            min-height: 50px;
        }


    #codeIde .CodeMirror {
        height: 80vh;
    }

#codeIde {
    height: 95%;
    position: relative;
}
    /*set sizes*/
    #codeIde h3 {
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        float: left;
        display: inline;
        margin-right: 1em;
        color: #AAA;
    }

#ideLog h3 {
    float: none;
}

#codeIde #idePrompt {
    max-height: 50%;
    min-height: 5%;
    border: 1px solid #333;
    border-radius: 0 0 1em 1em;
    margin: 0;
    top: -20px;
    background-color: #FFF;
    transition: height ease 2s;
    padding: .5em;
    position: relative;
    display: flex;
    flex-direction: column;
}

    #codeIde #idePrompt h4 {
        vertical-align: top;
        margin: 0;
        font-size: 1em;
        margin-left: 1em;
    }

#codeIde #promptContainer {
    margin: 1em;
    overflow: auto;
}

#codeIde .teams {
    display: inline-block;
    position: relative;
}

    #codeIde .teams ul {
        list-style: none;
        position: absolute;
        top: -2em;
        right: 0;
        padding: 0;
    }

        #codeIde .teams ul li {
            border: 1px solid #333;
            background-color: #EEE;
            border-radius: .3em;
            list-style: none;
            display: inline-block;
            padding: .3em;
        }

            #codeIde .teams ul li.activeMember {
                background-color: #EFE;
                font-weight: bold;
            }

            #codeIde .teams ul li:hover {
                background-color: #CEC;
            }

            #codeIde .teams ul li a:before {
                margin-right: 0;
            }

#codeIde #loginModal {
    border: 1px solid #333;
    border-radius: 1em;
    background-color: #EEE;
    position: absolute;
    z-index: 999;
    right: 0;
    transition: height 4s ease;
    overflow: hidden;
    padding: 1em;
    display: none;
}

#fader {
    border: 1px solid #333;
    height: 100%;
    position: absolute;
    width: 110%;
    z-index: 995;
    margin: 0 -5% 0 -5%;
    background-color: rgba(0, 0, 0, 0.40);
    cursor: not-allowed;
}

#flowPage #fader{
    top: 0;
    position: fixed;
    display:none;
}

button.closer{
    width: 2em;
    height: 2em;
    overflow:hidden;
    position:absolute;
    top: .5em;
    right: .5em;
}

#fader #modal{
    background-color: #FFF;
    padding: 1em;
    border-radius: 1em;
    border: 4px solid #333;
    width: 40%;
    min-width: 300px;
    margin:auto;
    margin-top: 200px;
    position:relative;
}

#fader .message {
        border: 1px solid #333;
        background-color: #EEE;
        text-align: center;
        margin: 40px auto;
        z-index: 999;
        padding: 1em;
    }
/*#codeIde #idePrompt:after {
            font-family: themify;
            content: "\e663";
            position: absolute;
            z-index: 999;
            top: 0;
            left: 50%;
            color: #CCC;
        }

.projectIde #codeIde #idePrompt {
    height: 20%;
}

    #codeIde #idePrompt:hover, .projectIde #codeIde #idePrompt:hover {
        height: 50%;
    }

        #codeIde #idePrompt:hover:after {
            color: #36F;
            font-weight: bold;
            animation: promptAfter 2s ease forwards;
        }

@keyframes promptAfter {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}*/
#codeIde #ideControls {
    height: 40px;
}

#codeIde #ideMainEditor {
    height: 80%;
}

#ideControls {
    position: relative;
}

    #ideControls button {
        font-size: 1.4em;
        padding: .3em;
        background-color: #6A6;
        color: #FFF;
        width: 1.7em;
        height: 1.6em;
        line-height: 1;
        position: relative;
        overflow: hidden;
    }

        #ideControls button.currentStep {
            background-color: #080;
        }

        #ideControls button.save {
            background-color: #66A;
        }

        #ideControls button.modifying {
            background-color: #B84;
        }

        #ideControls button:hover {
            font-size: 1.6em;
            background-color: #33A;
            margin: -.2em;
            /*width: auto;*/
            height: auto;
        }

        #ideControls button.currentStep:hover, #ideControls button.selected {
            background-color: #00A;
        }

        #ideControls button.modifying:hover, #ideControls button.modifying.selected {
            background-color: #851;
        }

        #ideControls button.disabled {
            background-color: #AAA;
            pointer-events: none;
        }

#idePreCode {
}

#ideMainEditor {
}

#ideCodeWindow {
    width: 50%;
    float: left;
}

#ideOutputWindows {
    width: 50%;
    float: right;
    height: 100%;
}

    #ideOutputWindows > div {
        position: relative;
    }

    #ideOutputWindows h3 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 1.2em;
    }

#ideGraphics {
    /*border: 1px solid #00F;*/
}

#ideTextOutput {
    height: 100%;
}

    #ideTextOutput #output {
        height: 100%;
        overflow: auto;
    }

#ideTestCode {
}

/*IDE Messages*/

#ideControls > button {
    float: left;
}

#ideButtons {
}

    #ideButtons .buttonSpacer {
        display: inline-block;
        height: 2em;
        width: 2em;
        color: transparent;
    }

.toggleSwitchHolder, .toggleSwitchHolder div {
    display: inline-block;
}

    .toggleSwitchHolder span {
        background-color: #888;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        padding: .2em .5em;
        color: #FFF;
        cursor: pointer;
    }

        .toggleSwitchHolder span:first-child {
            border-radius: .5em 0 0 .5em;
            border-left: 1px solid #333;
        }

        .toggleSwitchHolder span:last-child {
            border-radius: 0 .5em .5em 0;
            border-right: 1px solid #333;
        }

        .toggleSwitchHolder span.selected {
            background-color: #080;
            font-weight: bold;
        }

    .toggleSwitchHolder input {
        display: none;
    }

#ideMessages {
    z-index: 950;
    position: relative;
    /*top: 2.5em;*/
    top: 0;
    left: 0;
}

    /*IDE Log Messages*/

    #ideMessages #ideLogs {
        position: relative;
        top: -.6em;
        cursor: help;
    }

        #ideMessages #ideLogs * {
            margin: 0;
            padding: 0;
            font-size: 1em;
        }

        #ideMessages #ideLogs h2 {
            background-color: #DDD;
            border: 1px solid #333;
            border-radius: 1em 1em 0 0;
            text-align: center;
            width: 5em;
            position: absolute;
            top: 0;
            right: 5em;
        }

    #ideMessages #ideLog {
        border: 1px solid #000;
        background: #EEE;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1.2em;
        min-width: 20em;
        max-height: 50vh;
        transition: height 2s ease;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
    }


        #ideMessages #ideLog dt {
            padding-left: .5em;
            border-bottom: 1px solid #000;
            text-align: right;
        }

            #ideMessages #ideLog dt:before {
                content: "";
            }

        #ideMessages #ideLog dd {
            padding-left: .3em;
        }

        #ideMessages #ideLog ol {
            padding-left: 4em;
        }

        #ideMessages #ideLog .save {
            background-color: #DDF;
        }

        #ideMessages #ideLog .success {
            background-color: #EFE;
        }

        #ideMessages #ideLog .reset {
            background-color: #FFE;
        }

        #ideMessages #ideLog .error {
            background-color: #FEE;
        }
        /* Popups start */
#popups {
    position: absolute;
    top: 6em;
    left: 50%;
    pointer-events: none;
    width: 20em;
    text-align: center;
    z-index: 999;
    margin-left: -10em;
    /*display:flex;
    flex-direction:column-reverse;*/
}

.popup {
    display: block;
    animation: hidePopup 2s ease 800ms forwards;
    background-color: #FAFAFA;
    border: 1px solid #333;
    overflow: hidden;
    padding: .3em;
    margin: .3em 0;
    border-radius: .3em;
    box-shadow: #333 0 0 10px;
}

    .popup.test {
        animation-delay: 3s;
    }

    .popup.success {
        background-color: #EFE;
    }

    .popup.error {
        background-color: #FEE;
        animation-delay: 1500ms;
    }

    .popup.permanent {
        animation-delay: 10s;
        pointer-events: auto;
    }

@keyframes hidePopup {
    0% {
        height: 2.5em;
        border-width: 1px;
        margin: 0;
    }

    99.99% {
        border-width: 1px;
        box-shadow: #333 0 0 10px;
        position: static;
    }

    100% {
        height: 0em;
        border-width: 0px;
        margin: 1em;
        box-shadow: none;
        padding: 0em;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/*Popups End*/

#ideMessages #ideMessageList {
    width: 100%;
    position: absolute;
}

#ideMessages .ideMessages {
    height: 0;
    position: relative;
    overflow: hidden;
    transition: height 1s ease-out;
    background-color: #FFF;
}

.messageControls {
    position: absolute;
    top: .1em;
    right: .1em;
    font-size: .8em;
}

    .messageControls a.minimizer, .messageControls a.closer {
        display: inline-block;
        border: 1px solid #333;
        width: 1.6em;
        height: 1.6em;
        overflow: hidden;
        text-align: center;
        font-weight: bold;
        background-color: #DDD;
        color: #333;
    }

    .messageControls a:hover {
        text-decoration: none;
    }


#ideMessages > div .showMessage {
    height: 3em;
    overflow: auto;
    padding: .3em 2em .3em .3em;
    margin: .3em;
    border: 2px solid #333;
    border-radius: .3em;
}

#ideMessages > div .collapseMessage {
    height: 2em;
}

/*End IDE Messages*/
/*End code IDE*/

/*Flow Authoring Start*/
#courseFlow .components.authoring li {
    list-style: none;
    font-size: inherit;
    height: inherit;
    margin: .1em .5em .3em 1em;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    border: none;
    outline: none;
}

[contenteditable="true"] {
    border-bottom: 2px dotted #334;
    z-index: 990;
}

    [contenteditable="true"]:focus {
        z-index: 991;
        background-color: #FFF;
        border: 1px solid #333;
    }

    .project .edit, .lesson .edit{
        position:absolute; 
        top: 0;
        right: 2em;
        font-size: .5em;
        width: 2em;
        overflow:hidden;
        height: 2em;
    }
    
#ideProjectName {
    margin-top: -20px;
    margin-bottom: 20px;
}
/*Flow Authoring End*/

